@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Identity.Client
@inherits LayoutComponentBase
@inject DatabaseService databaseService
@inject UserState userState
@inject AuthenticationStateProvider authenticationStateProvider
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
             @if (userState.CurrentUser != null){
                <span class="fw-bold">@userState.CurrentUser.Username</span>
             }
        </div>
        <article class="content px-4">
            @Body
            <BlazoredModal />
        </article>
    </main>
</div>