@page "/Account"
@rendermode InteractiveServer
@using Blazored.LocalStorage
@using NEA.Components.Layout
@using System.Threading.Tasks
@inject NavigationManager NavMenu
@inject ILocalStorageService LocalStorage
@inject UserState userState
<PageTitle>Account</PageTitle>
<h1>Account Page</h1>
<h2>Welcome to your account page!</h2>
@if (userState.CurrentUser == null){
    <p> You are not logged in </p>
    <button @onclick="GoToLogin">Login</button>
}
else{
    <p> Logged in as <strong>@userState.CurrentUser.Username</strong></p>
    <button type="button" @onclick="LogoutUser">Logout</button>
}
@code{
        protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var user = await LocalStorage.GetItemAsync<User>("currentUser");
        if (user == null)
        {
            NavMenu.NavigateTo("/login");
            return;
        }

        userState.SetUser(user);
        StateHasChanged();
    }

    private async Task LogoutUser(){
        await LocalStorage.RemoveItemAsync("currentUser");
        userState.ClearUser();
        NavMenu.NavigateTo("/", forceLoad: true);
    }
    private void GoToLogin(){
        NavMenu.NavigateTo("/login");
    }
}
