@inject Blazored.Modal.Services.IModalService ModalService
@using Blazored.Modal
@using BootstrapBlazor.Components
@using Microsoft.Extensions.Options
@using Blazored.LocalStorage

@inject ILocalStorageService storageService
@inject DatabaseService Db
@inject NavigationManager Nav
@inject UserState userState

<div class="options-modal">
    <label>WARNING: Deleting account</label>
    <p>This cannot be undone </p>
   

    <div class="options-buttons">
    
        <button class="check-button" @onclick="DeleteUser">Delete</button>
        <button class="end-button" @onclick="Cancel">Cancel</button>
    </div>
</div>
@code 
{
    bool UserConfirm = false;
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
   
    // deletes current user from DB 
    private async Task DeleteUser()
    {
       if(userState.CurrentUser == null)
       {
            return;
       }
       await Db.DeleteUserAsync(userState.CurrentUser.UserID);
       await storageService.RemoveItemAsync("currentUser");
       userState.SetUser(null);
       await BlazoredModal.CloseAsync();
       Nav.NavigateTo("/", forceLoad:true);
       
    }

    private async Task Cancel() => BlazoredModal.CancelAsync();

}

<style>
.options-modal {
    padding: 2rem;
    background-color: #fdfdfd;
    border-radius: 12px;
    font-family: 'Segoe UI', Roboto, sans-serif;
    max-width: 400px;

}

.options-modal h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #37493a;
}



}
.options-select {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.options-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
.modal-dialog {
    position: relative;
    top: 20vh; 
}

.check-button{
   font-family: inherit;
font-weight: 500;
padding: 0.6rem 1.6rem;
font-size: 0.95rem;
border-radius: 999px;
border: none;
cursor: pointer;
background-color: var(--accent-primary);
color: #ffffff;
transition: opacity 0.2s ease;
}
.end-button{
     font-family: inherit;
font-weight: 500;
padding: 0.6rem 1.6rem;
font-size: 0.95rem;
border-radius: 999px;
border: none;
cursor: pointer;
background-color: var(--accent-primary);
color: #ffffff;
transition: opacity 0.2s ease;

}

</style>