@page "/"
@inject NavigationManager NavMan
@rendermode InteractiveServer
@inject UserState userState
<PageTitle>Home</PageTitle>
<div class="content-container">
<h1>Welcome to TechnoBabble!</h1>
<div class="page-center">
<h2> About Technobabble</h2>
<p> Welcome to your new french learning app</p>
<p>You can complete conjugation, vocabulary and listening exercises to earn points.</p>
<p> Compete with other users to earn top place on the leaderboard!</p>
@if(userState.CurrentUser != null){
    <p> Welcome, @userState.CurrentUser.Username!</p>
}
else{
    <p> please login to save your progress</p>
}

<button class ="btn btn-primary" @onclick ="GoToLeaderboard"> Leaderboard</button>
<button class ="btn btn-primary" @onclick ="GoToLoginPage"> Login</button>
<button class ="btn btn-primary" @onclick ="GoToRegisterPage"> Register</button>

</div>
</div>
@code {
    private void GoToLeaderboard(){
        NavMan.NavigateTo("/leaderboard");
    }
    private void GoToLoginPage(){
        NavMan.NavigateTo("/login");
    }
    private void GoToRegisterPage(){
        NavMan.NavigateTo("/register");
    }

}
<style>
.main{
    padding 2rem;
    background-color: var(--bg-main);

}
.page-content{
    background-color: var(--card-bg);
    padding: 3rem;
    border-radius:18px;
    max-width:780px;
    width: 100%;
    margin:4rem auto;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08),
        inset 0 1px 0 rgba(255,255,255,0.6);

}
.page-center{
    min-height: 70vh;
    align-items:center;
    justify-content: center;
    padding: 1rem;
}
.content-container {
max-width: 850px;
margin: 2.5rem auto;
padding: 2.5rem;
border-radius: 24px;
background: var(--card-bg);
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
font-family: 'Inter', 'Segoe UI', sans-serif;
}


.content-container h1 {
margin: -2.5rem -2.5rem 2rem -2.5rem;
padding: 1.5rem 2.5rem;
background-color: var(--accent-primary);
color: #ffffff;
font-size: 1.6rem;
font-weight: 500;
border-top-left-radius: 24px;
border-top-right-radius: 24px;
}

.content-container p {
font-size: 1rem;
color: var(--text-muted);
margin-bottom: 1rem;
}
</style>